:root {
    --background: #CFF6BE;
    --foreground: #FF90D5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}

body {
    background-color: #FFEAF7;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Itim", cursive;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    padding-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: auto;
    padding: 20px;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--background);
    margin: 0;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

header.open {
    height: 400px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: var(--foreground);
    width: 100%;
}

nav.open {
    display: flex;
    height: auto;
    margin-top: 20px;
}

nav a {
    display: none;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 28px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: var(--background);
    color: black;
}

header img {
    display: none;
    position: relative;
    right: 270px;
    bottom: 565px;
    max-width: 100px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    text-align: center;
    padding: 10px;
    min-height: 200px;
    height: 100px;
}

footer p {
    color: black;
    align-items: center;
    font-size: 20px;
    margin: 5px 0;
    font-size: 18px;
}

button {
    height: 60px;
    width: 220px;
    font-size: 20px;
    color: black;
    background-color: var(--foreground);
    border: none;
    border-radius: 20px;
}

button:hover {
    transform: scale(1.08);
}

.citation {
    color: #501238;
    font-size: 20px;
}

/* ---------------------------Hamburger----------------------------- */
#menu {
    font-size: 2rem;
    border: none;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20%;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

/* ---------------------------index.html----------------------------- */

.active {
    background-color: #FFC7EA;
}

.hero {
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info section {
    max-width: 100%;
    text-align: center;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: var(--foreground);
    font-size: 22px;
}

.sponser {
    display: flex;
    position: relative;
    bottom: 90px;
    left: 30px;
    width: 230px;
    height: 80px;
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 5;
}

/* ---------------------------browse.html----------------------------- */

#moth-cards,
#moth-cards-book {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    grid-auto-rows: minmax(200px, auto);
}

.moth-card-css {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--background);
    padding: 15px;
    border: 1px solid #BEBEBE;
    min-height: 500px;
    width: auto;
    height: auto;
    color: black;
}

.moth-card-css img {
    width: 100%;
    height: 250px;
    max-width: 1000px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.moth-card-css p {
    padding: 3px;
    font-size: 17px;
}

.moth-card-css h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.moth-card-css button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    padding: 3rem;
    background-color: var(--foreground);
    box-shadow: 0 0 3rem #777;
    width: 80%;
    height: 45%;
    max-width: 600px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: var(--background);
    color: black;
    width: 20%;
    height: 15%;
    font-size: 20px;
}

dialog li,
dialog p {
    padding: 5px;
}

dialog p {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 100px;
    min-width: 100px;
}

dialog h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

/* ---------------------------donate.html----------------------------- */

form {
    max-width: 1000px;
    width: 100%;
    max-height: 2000px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--foreground);
}

fieldset {
    border: 1px solid black;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    max-height: 2000px;
    height: auto;
}

.name {
    height: 30px;
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.personalinfo {
    width: 100px;
}

input[type=submit] {
    width: 300px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--background);
    border: none;
}

input[type=radio] {
    width: 15px;
    max-width: 10%;
    height: 15px;
}

input[type=checkbox] {
    transform: scale(1.4);
    margin: 10px;
    max-width: 100%;
    width: 15px;
    height: 14px;
}

input[type=number] {
    max-width: 100%;
    width: 100%;
    height: 20px;
}

#reviewtextarea {
    width: 100%;
}

.paymentmethod {
    width: 250px;
    height: 50px;
}

/* ---------------------------review.html----------------------------- */

.reviewh1 {
    text-decoration: underline;
}

.reviewmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.reviewh1 {
    text-decoration: underline;
}

.thankyou {
    padding: 20px;
    background-color: var(--background);
    max-width: 1000px;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.citationmain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.favorite-star {
    cursor: pointer;
    font-size: 24px;
    color: #F3FFEE;
    margin-left: 10px;
}

.favorite-star:hover {
    transform: scale(1.5);
}

.favorite-star.activestar {
    color: gold;
}

.favoritecss {
    position: absolute;
    font-size: 50px;
}

.emptymessagecss {
    margin: 0 auto;
    display: flex;
    width: 300px;
    font-size: 35px;
    align-items: center;
    text-align: center;
}

/* ---------------------------Medium Screen Size----------------------------- */
@media screen and (min-width: 641px) {

    #moth-cards,
    #moth-cards-book {
        grid-template-columns: repeat(2, 1fr);
    }

    dialog button {
        width: 10%;
    }
}

@media screen and (min-width: 1025px) {

    header {
        flex-direction: row;
        height: 180px;
    }

    header img {
        position: static;
        max-width: 200px;
        display: block;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        font-size: 22px;
    }

    #menu {
        display: none;
    }

    nav.open {
        display: flex;
    }

    nav a {
        display: block;
    }

    nav a:hover {
        transform: scale(1.1);
    }

    button {
        font-size: 30px;
        height: 100px;
        width: 255px;
    }

    /* ---------------------------index.html----------------------------- */

    .info {
        flex-direction: row;
    }

    .info section {
        width: 500px;
        font-size: 29px;
    }

    .sponser {
        width: auto;
        height: auto;
        bottom: 300px;
        left: 85px;
        position: absolute;
    }

    .hero {
        border: none;
    }

    /* ---------------------------browse.html----------------------------- */

    #moth-cards,
    #moth-cards-book {
        grid-template-columns: repeat(3, 1fr);
    }

    .moth-card-css img:hover {
        transform: scale(1.03);
    }

    /* ---------------------------donate.html----------------------------- */

    .name {
        width: 20%;
    }

    input[type=number] {
        width: 20%;
    }

    .personalinfo {
        width: 100%;
    }

    /* ---------------------------review.html----------------------------- */

    .thankyou {
        width: 100%;
    }

    /* ---------------------------bookmark.html----------------------------- */

    .emptymessagecss {
        justify-content: center;
        width: 1500px;
        font-size: 40px;
    }
}