/* Small Screen Size */

:root {
    --foreground: #060270;
    --background: #C9C8F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.navigation {
    max-width: 100%;
    width: 50%;
    min-height: 100%;
    height: 100%;
}

nav.open {
    max-height: 500px;
    padding: 15px 0;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    text-decoration: overline;
    background-color: var(--foreground);
    color: white;
    font-weight: 400;
    transform: scale(1.1);
}

nav a.active {
    background-color: transparent;
    background-color: #6C6B93;
    color: white;
}

nav.open a.active {
    background-color: #6C6B93;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    min-height: 80vh;
}

img {
    aspect-ratio: 16/9;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    text-align: center;
    padding: 10px;
    min-height: 200px;
    height: 300px;
}

.footercontainer {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


footer p {
    font-size: 12px;
    margin: 3px 0;
}

footer img:hover {
    transform: scale(1.1);
}

/* Hamburger class / id selectors */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

.active {
    background-color: #6C6B93;
    color: white;
}

/* Index page class / id selectors */

.hero {
    width: 100%;
    height: 100%;
    aspect-ratio: 3.2;
}

.herocontainer {
    position: relative;
}

.card2 {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.card2 h2 {
    margin: 0 0 20px 0;
    padding: 15px;
    background-color: var(--foreground);
    color: white;
    width: 100%;
}

.card {
    margin: 0 auto;
}

.card2 p,
.card3 p {
    flex-grow: 1;
    font-size: 17px;
    margin: 14px;
}

.card2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card2>div {
    border: 1px solid black;
    padding: 20px;
}

#forecast p {
    font-size: 20px;
    margin-bottom: 20px;
}

.CTA {
    display: flex;
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground);
    border: 2px solid black;
    box-shadow: 0 5px 10px gray;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    font-size: 15px;
    color: white;
}

.CTA a {
    text-decoration: none;
    color: white;
}

.profilecard {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.secondsectioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.secondsectioncontainer div {
    width: 15rem;
    height: auto;
}

.homelink {
    text-decoration: none;
    color: black;
    cursor: default;
}

.eventscontainer p {
    width: 80%;
}

#weather-icon {
    aspect-ratio: 1;
    width: 80px;
    height: 80px;
}

/* Directory page class / id selectors */

.businesscardcss {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 260px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 5px 10px gray;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.businesscardcss:hover {
    transform: scale(1.01);
}

.businesscardcss img {
    max-width: 100%;
    object-fit: cover;
}

#displaybusinesses.grid,
.homebusinessdisplay {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#displaybusinesses.list {
    display: flex;
    flex-direction: column;
}

#displaybusinesses.list section img {
    display: none;
}

#displaybusinesses.list section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: #D9D9D9;
    border: none;
    box-shadow: none;
}

#displaybusinesses.list section:nth-child(even) {
    background-color: var(--foreground);
    color: white;
}

#displaybusinesses.list section:nth-child(even) a {
    color: white;
}

#displaybusinesses.list section:nth-child(odd) a {
    color: black;
}

.gridandlistmenu {
    margin: 0 auto;
}

.gridandlistmenu button {
    border: 2px solid var(--foreground);
    background-color: white;
    padding: 10px;
    font-size: 30px;
}

.gridandlistmenu button:hover {
    transform: scale(1.1);
}

#grid.active,
#list.active {
    background-color: var(--foreground);
    color: white;
}

/* Medium Screen Size */
@media screen and (min-width: 480px) {

    .secondsectioncontainer {
        flex-direction: column;
    }

    footer {
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        height: 200px;
    }

    footer p {
        margin: 5px 0;
    }

    footer img {
        width: 50px;
        height: 50px;
    }

    .businesscardcss {
        max-width: 800px;
    }

    #displaybusinesses.list section {
        flex-direction: row;
    }

    .secondsectioncontainer div {
        width: 15rem;
        height: auto;
    }

    #displaybusinesses.grid,
    .homebusinessdisplay {
        grid-template-columns: repeat(1, 1fr);
    }

    .homebusinessdisplay {
        margin: 0 auto;
        width: 60%;
    }

    .hero {
        max-width: 100%;
        height: auto;
    }

    .card {
        max-width: 100%;
    }

    .CTA {
        width: 30%;
        left: 80%;
    }

    .card2 div {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

/* Large Screen Size */
@media screen and (min-width: 1200px) {

    header {
        flex-direction: row;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: none;
        padding: 0;
    }

    nav a {
        display: inline-block;
        padding: 15px;
        font-size: 27px;
    }

    footer {
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        height: 100px;
    }

    footer p {
        font-size: 17px;
        margin: 5px 0;
    }

    footer img {
        width: 60px;
        height: 60px;
    }

    #menu {
        display: none;
    }

    .card,
    .card2 {
        max-width: 100%;
    }

    .profilecard {
        width: 100%;
    }

    .secondsectioncontainer {
        flex-direction: row;
    }

    .currentweathercontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .secondsectioncontainer div {
        width: 24rem;
        height: auto;
    }

    #displaybusinesses.grid,
    .homebusinessdisplay {
        grid-template-columns: repeat(4, 1fr);
    }

    .homebusinessdisplay {
        width: 60%;
        margin: 0 auto;
    }

    #displaybusinesses.list section {
        flex-direction: row;
    }

    .businesscardcss {
        max-width: 100%;
        font-size: 15px;
    }

    .businesscardcss img {
        width: 250px;
    }

    .hero {
        max-width: 100%;
        height: auto;
    }

    .CTA {
        width: 25%;
        left: 85%;
    }
}