/* ---------------------------Small Screen Size----------------------------- */

:root {
    --foreground: #060270;
    --background: #C9C8F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.navigation {
    max-width: 100%;
    width: 50%;
    min-height: 100%;
    height: 100%;
}

nav.open {
    max-height: 500px;
    padding: 15px 0;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    text-decoration: overline;
    background-color: var(--foreground);
    color: white;
    font-weight: 400;
    transform: scale(1.1);
}

nav a.active {
    background-color: transparent;
    background-color: #6C6B93;
    color: white;
}

nav.open a.active {
    background-color: #6C6B93;
}

.homecontainer,
.directorycontainer,
.discovercontainer,
.joincontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    min-height: 80vh;
}

img {
    aspect-ratio: 16/9;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    text-align: center;
    padding: 10px;
    min-height: 200px;
    height: 300px;
}

.footercontainer {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


footer p {
    font-size: 12px;
    margin: 3px 0;
}

footer img:hover {
    transform: scale(1.1);
}

/* ---------------------------Hamburger----------------------------- */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

.active {
    background-color: #6C6B93;
    color: white;
}

/* ---------------------------index.html----------------------------- */

.hero {
    width: 100%;
    height: 100%;
    aspect-ratio: 3.2;
}

.herocontainer {
    position: relative;
}

.card2 {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.card2 h2 {
    margin: 0 0 20px 0;
    padding: 15px;
    background-color: var(--foreground);
    color: white;
    width: 100%;
}

.card {
    margin: 0 auto;
}

.card2 p,
.card3 p {
    flex-grow: 1;
    font-size: 17px;
    margin: 14px;
}

.card2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card2>div {
    border: 1px solid black;
    padding: 20px;
}

#forecast p {
    font-size: 20px;
    margin-bottom: 20px;
}

.CTA {
    display: flex;
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground);
    border: 2px solid black;
    box-shadow: 0 5px 10px gray;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    font-size: 15px;
    color: white;
}

.CTA a {
    text-decoration: none;
    color: white;
}

.profilecard {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.secondsectioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.secondsectioncontainer div {
    width: 15rem;
    height: auto;
}

.homelink {
    text-decoration: none;
    color: black;
    cursor: default;
}

.eventscontainer p {
    width: 80%;
}

#weather-icon {
    aspect-ratio: 1;
    width: 80px;
    height: 80px;
}

/* ---------------------------directory.html----------------------------- */

.businesscardcss {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 260px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 5px 10px gray;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.businesscardcss:hover {
    transform: scale(1.01);
}

.businesscardcss img {
    max-width: 100%;
    object-fit: cover;
}

#displaybusinesses.grid,
.homebusinessdisplay {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#displaybusinesses.list {
    display: flex;
    flex-direction: column;
}

#displaybusinesses.list section img {
    display: none;
}

#displaybusinesses.list section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: #D9D9D9;
    border: none;
    box-shadow: none;
}

#displaybusinesses.list section:nth-child(even) {
    background-color: var(--foreground);
    color: white;
}

#displaybusinesses.list section:nth-child(even) a {
    color: white;
}

#displaybusinesses.list section:nth-child(odd) a {
    color: black;
}

.gridandlistmenu {
    margin: 0 auto;
}

.gridandlistmenu button {
    border: 2px solid var(--foreground);
    background-color: white;
    padding: 10px;
    font-size: 30px;
}

.gridandlistmenu button:hover {
    transform: scale(1.1);
}

#grid.active,
#list.active {
    background-color: var(--foreground);
    color: white;
}

/* ---------------------------join.html / thankyou.html----------------------------- */

form {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

label {
    display: block;
    font-size: .8rem;
    padding-top: .2rem;
}

h3 {
    font-size: .9rem;
    color: var(--foreground);
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
textarea,
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

textarea {
    width: 100%;
}

input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: #3D405B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
}

#results {
    margin: 0 auto;
    background-color: var(--foreground);
    color: white;
    padding: 0 1rem;
    border: 3px solid var(--background);
    border-radius: 6px;
    width: 100%;
}

#results a {
    color: white;
}

.thankyoucontainer {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.thankyoucontainer h1,
.thankyoucontainer p,
.thankyoucontainer h2 {
    padding: 10px;
}

.thankyoucontainer h1 {
    text-decoration: overline;
}

.joinsection2 div {
    border: 2px solid black;
    border-radius: 0.5rem 2rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    animation: animation 0.7s ease-out;
}



@keyframes animation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.joinsection2 button,
.joinsection2 p {
    padding: 10px;
    border: none;
}

#nonprofitmembership,
#bronzemembership,
#silvermembership,
#goldmembership {
    background-color: var(--foreground);
    color: white;
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    padding: 3rem;
    background-color: var(--foreground);
    box-shadow: 0 0 3rem #777;
    width: 80%;
    height: 45%;
    max-width: 600px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: var(--background);
    color: black;
}

dialog li,
dialog p {
    padding: 5px;
}

dialog p {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
}

dialog h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

/* ---------------------------Medium Screen Size----------------------------- */
@media screen and (min-width: 480px) {

    .secondsectioncontainer {
        flex-direction: column;
    }

    footer {
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        height: 200px;
    }

    footer p {
        margin: 5px 0;
    }

    footer img {
        width: 50px;
        height: 50px;
    }

    .businesscardcss {
        max-width: 800px;
    }

    /* ---------------------------directory.html----------------------------- */


    #displaybusinesses.list section {
        flex-direction: row;
    }

    /* ---------------------------index.html----------------------------- */

    .secondsectioncontainer div {
        width: 15rem;
        height: auto;
    }

    #displaybusinesses.grid,
    .homebusinessdisplay {
        grid-template-columns: repeat(1, 1fr);
    }

    .homebusinessdisplay {
        margin: 0 auto;
        width: 60%;
    }

    .hero {
        max-width: 100%;
        height: auto;
    }

    .card {
        max-width: 100%;
    }

    .CTA {
        width: 30%;
        left: 80%;
    }

    .card2 div {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* ---------------------------join.html / thankyou.html----------------------------- */

    #results {
        width: 50%;
    }
}

/* ---------------------------Large Screen Size----------------------------- */
@media screen and (min-width: 1200px) {

    header {
        flex-direction: row;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: none;
        padding: 0;
    }

    nav a {
        display: inline-block;
        padding: 15px;
        font-size: 27px;
    }

    footer {
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        height: 100px;
    }

    footer p {
        font-size: 17px;
        margin: 5px 0;
    }

    footer img {
        width: 60px;
        height: 60px;
    }

    /* ---------------------------Hamburger----------------------------- */

    #menu {
        display: none;
    }

    /* ---------------------------index.html----------------------------- */

    .card,
    .card2 {
        max-width: 100%;
    }

    .profilecard {
        width: 100%;
    }

    .secondsectioncontainer {
        flex-direction: row;
    }

    .currentweathercontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .secondsectioncontainer div {
        width: 24rem;
        height: auto;
    }

    #displaybusinesses.grid,
    .homebusinessdisplay {
        grid-template-columns: repeat(4, 1fr);
    }

    .homebusinessdisplay {
        width: 60%;
        margin: 0 auto;
    }

    .hero {
        max-width: 100%;
        height: auto;
    }

    .CTA {
        width: 25%;
        left: 85%;
    }

    /* ---------------------------directory.html----------------------------- */

    #displaybusinesses.list section {
        flex-direction: row;
    }

    .businesscardcss {
        max-width: 100%;
        font-size: 15px;
    }

    .businesscardcss img {
        width: 250px;
    }

    /* ---------------------------join.html / thankyou.html----------------------------- */

    .joincontainer {
        grid-template-columns: 1fr 1fr;
    }

    .joinsection2 div {
        width: 70%;
    }

    #results {
        width: 50%;
    }
}