:root {
    --background: #E2B779;
    --foreground: #5B4B32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

html,
body {
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--foreground);
    padding: 15px 0;
    margin: 0;
    align-items: center;
    max-width: 80%;
}

nav a {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin: 10px;
}

nav a:hover {
    background-color: var(--background);
    color: black;
    transform: scale(1.1);
}

h1,
.pfp {
    animation-duration: 2s;
    animation-name: slide-in;
}

h1 span,
.pfp span {
    display: inline-block;
    animation-duration: 1s;
    animation-name: grow-shrink;
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes grow-shrink {

    25%,
    75% {
        scale: 100%;
    }

    50% {
        scale: 200%;
    }
}

header {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    padding: 20px;
}

header img {
    max-width: 25%;
    width: 100px;
    margin-left: 20px;
    box-shadow: 0 0 20px gray;
    object-fit: cover;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    text-align: center;
    padding: 10px;
}

footer img {
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: contain;
}

footer p {
    font-size: 20px;
    margin: 5px 0;
}

li {
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.indexbutton {
    margin: 10px;
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--foreground);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--background);
    color: black;
    transform: scale(1.1);
}

figure {
    text-align: center;
    color: #261908;
}

/* Class Selectors */

.card {
    background-color: white;
    height: 100%;
    border: 1px solid var(--foreground);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.card p {
    flex-grow: 1;
    padding: 15px 20px;
    font-size: 21px;
}

.headernameandimg,
.footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headernameandimg {
    margin: 20px;
}

.footercolor {
    color: #261908;
    font-size: 18px;
}

.usaalign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usaalign img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.cardh2design {
    background-color: var(--background);
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: -10px 0 20px 0;
}

.thirdsection {
    grid-column: 1 / -1;
    text-align: center;
}

#courseList {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.fundamentalsDiv {
    cursor: pointer;
}

.completed,
.incomplete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.completed {
    background-color: #CEF5C0;
    border: 1px solid #56794A;
}

.incomplete {
    background-color: #F8B5B5;
    border: 1px solid #6E4747;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

.active {
    background-color: #C2975A;
    color: black;
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 80%;
    max-width: 600px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: var(--foreground);
}

@media screen and (min-width: 500px) {

    main {
        grid-template-columns: 2fr 1fr;
    }

    nav {
        flex-direction: row;
        max-width: 100%;
    }

    nav a {
        display: block;
        padding: 10px;
        font-size: 27px;
    }

    header {
        align-items: normal;
    }

    header h1 {
        font-size: 35px;
    }

    header img {
        margin-right: 30px;
    }

    footer img {
        margin-left: 10px;
    }

    dialog {
        transform: translate(-50%, -50%);
    }

    #menu {
        display: none;
    }

    .card {
        max-width: 100%;
    }

    #courseList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}